.main-footer{
    background-color: #40d5fd;
    background-image: url("../images/main-bg.jpg");
    background-position: 50% -294px;
    background-repeat: no-repeat;
}
.main-footer-bottom {
	background-color: @green-light2;
	color: #fff;
	overflow: hidden;
	font-family: 'lulo_cleanone';
	font-size: 10px;
	letter-spacing: -0.1em;
	padding: 15px 0;
	a {
		color: #fff;
		margin-left: 23px;
	}
	p {
		margin-top: 0;
		margin-bottom: 0;
		&:first-child {
			margin-top: 0;
		}
	}
}
.footer-blocks {
	position: relative;
	min-height: 163px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
	.socials  {
		position: absolute;
		top: 74px;
		right: 4px;
	}
}
.main-footer-bottom-right {
	float: right;
}
.main-footer-bottom-left {
	float: left;
}
.footer-logo {
	float: left;
	margin: 39px 0 0 -7px;
}
.form-arrow {
	position: absolute;
	width: 300px;
	top: 65px;
	left: 50%;
	margin-left: -150px;
	button {
		background-color: #d36949;
		background-image: url(../images/arrow.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		top: 0;
		right: 0;
		position: absolute;
		border: none;
		border-radius: 0 4px 4px 0;
		height: 100%;
		width: 56px;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
		&:hover {
			background-color: #d36949 - 30%;
		}
		&:focus {
			background-color: #d36949 - 20%;
		}
	}
}
.footer-blocks-two {
	&:after {
		content: " ";
		display: block;
		clear: both;
		width: 100%;
	}
	p {
		font-family: 'lulo_cleanone_bold';
		font-size: 16px;
		line-height: 20px;
		color: @green-light2;
		padding-top: 48px;
		margin-left: -7px;
		margin-bottom: 35px;
		float: left;
	}
	.logos-footer {
		float: right;
		overflow: hidden;
		text-align: left;
		margin: 32px 54px 17px 0;
		padding-left: 0;
		li {
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			margin-left: 46px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.footer-index {
	background: url(../images/bg-footer-index.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	.main-footer {
		background: none;
	}
}

@media (max-width: 1200px) {
	.footer-blocks-two .logos-footer li {
		margin-left: 25px;
	}
}
@media (max-width: 991px) {
	.footer-blocks-two .logos-footer {
		margin-right: 0;
	}
	.footer-blocks-two p {
		margin-left: 0;
		font-size: 10px;
	}
	.footer-blocks-two .logos-footer li {
		margin-left: 10px;
	}
	.footer-logo {
		margin: 40px 0 0;
		width: 174px;
	}
}
@media (max-width: 767px) {
	.footer-blocks {
		padding-top: 40px;
	}
	.footer-logo {
		margin: 0 auto 40px;
		float: none;
		display: block;
	}
	.footer-blocks .form-arrow {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		margin: 40px auto;
	}
	.footer-blocks .socials {
		position: static;
		text-align: center;
		margin-bottom: 40px;
		li {
			margin: 0 5px;
		}
	}
	.footer-blocks-two p {
		float: none;
		text-align: center;
		font-size: 12px;
	}
	.footer-blocks-two .logos-footer {
		float: none;
		margin: 0 auto 30px;
		text-align: center;
	}
	.main-footer-bottom {
		padding-bottom: 80px;
		text-align: center;
	}
	.main-footer-bottom-left {
		float: none;
	}
	.main-footer-bottom-right {
		float: none;
	}
	.main-footer-bottom a {
		margin: 0 5px;
	}
	.main-footer-bottom p {
		margin-bottom: 18px;
	}
}