.main-footer{
    background-color: #40d5fd;
    background-image: url("../images/main-bg.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.main-footer-bottom {
	background-color: @green-dark;
	color: #fff;
	overflow: hidden;
}
.footer-blocks {
	overflow: hidden;
}
.main-footer-bottom-right {
	float: right;
}
.main-footer-bottom-left {
	float: left;
}