.main-header{
	padding: 20px 0 27px;
	.main-width {
		position: relative;
	}
}
.logo{
	left: 56px;
	position: absolute;
	top: 23px;
}
.main-nav{
	margin-right: -7px;
	text-align: right;
	font-family: 'gotham_htfblack';
	font-weight: normal;
	letter-spacing: 0.025em;
	ul {
		margin-bottom: 0;
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 39px;
			&.current {
				a {
					color: @green;
				}
			}
			a {
				color: @white;
				display: block;
				text-transform: uppercase;
				font-size: 15px;
				text-decoration: none;
				&:hover {
					color: @green;
				}
			}
		}
	}
}

.socials {
	padding: 0;
	margin: 0 -7px 25px 0;
	list-style: none;
	text-align: right;
	li {
		display: inline-block;
		vertical-align: top;
		margin-left: 16px;
		a {
			display: block;
			background-image: url(../images/socials.png);
			background-repeat: no-repeat;
			height: 32px;
			width: 34px;
		}
	}
	.facebook {
		a {
			background-position: -4px -46px;
			&:hover {
				background-position: -4px -6px;
			}
		}
	}
	.instagram {
		a {
			background-position: -60px -46px;
			&:hover {
				background-position: -60px -6px;
			}
		}
	}
	.socials3 {
		a {
			background-position: -115px -46px;
			&:hover {
				background-position: -115px -6px;
			}
		}
	}
}
.fixed-header {
	position: fixed;
	top: 0;
	margin-top: -128px;
	left: 0;
	width: 100%;
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	height: 128px;
	z-index: 999;
	border-bottom: 20px solid #13526b;
	.transition(0.4s);
	.logo {
		top: 12px;
		width: 100px;
	}
	.socials {
		position: absolute;
		top: 21px;
		left: 172px;
	}
	.main-nav {
		padding-top: 26px;
	}
}
.fixed-header-open {
	margin-top: 0;
}

@media (max-width: 1170px) {
	.main-nav ul li {
		margin-left: 20px;
	}
}
@media (max-width: 1090px) {
	.main-nav ul li {
		margin-left: 20px;
	}
	.main-nav ul li a {
		font-size: 14px;
	}
	.main-nav ul li {
		margin-left: 15px;
	}
}
@media (max-width: 1010px) {
	.main-nav {
		margin: 0;
	}
	.main-nav ul li a {
		font-size: 12px;
	}
	.main-header .socials {
		position: absolute;
		left: auto;
		right: 30px;
		top: 7px;
		margin: 0;
	}
	.main-header .main-width {
		position: static;
	}
	.main-header {
		padding-top: 20px;
	}
	.main-header .logo {
		left: 30px;
		position: absolute;
		top: 27px;
		width: 100px;
	}
	.main-header .main-nav {
		padding-top: 26px;
	}
	
}