@yellow: #ffbf00;
@white: #ffffff;
@gray-light: #f5f5f5;
@green: #2c4d19;
@green-dark: #15270a;
@green-light: #31591b;
@green-light2: #33591c;


html, body {
	height: 100%;
}
p:first-child {
	margin-top: -7px;
}
p, ul, ol {
	margin: 0 0 30px;
	&:last-child {
		margin-bottom: 0;
	}
}
.main-width {
	max-width: 1280px;
	margin: auto;
	padding: 0 60px;
}
.wrapper {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
	clear: both;
}
img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}
.text-white {
	color: #fff;
}
.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}
.row10 {
	margin-left: -10px;
	margin-right: -10px;
	> * {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 360px) {
	.row25 {
		margin-left: -25px;
		margin-right: -25px;
		> * {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}
@media (min-width: 1011px) {
	.row40 {
		margin-left: -40px;
		margin-right: -40px;
		> * {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

.section-style {
	padding-top: 54px;
	padding-bottom: 69px;
}

.submenu{
	background-color: @green-dark;
	text-align: center;
	ul{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		li{
			float: left;
			&.current{
				a{
					color: @yellow;
				}
			}
			a{
				color: @white;
				display: block;
				padding: 34px 37px;
				line-height: 21px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}
.gallery{
	padding: 28px 24px 36px;
	background-color: @green-dark;
	position: relative;
	margin-top: 75px;
	ul{
		padding: 0;
		margin-left: -3px;
		margin-right: -3px;
		margin-bottom: 0;
		list-style: none;
		li{
			padding: 0 3px;
			float: left;
			width: 25%;
			img{
				width: 100%;
			}
		}
	}
	.main-width {
		padding: 0;
	}
}
.wrap-columns {
	background-color: @gray-light;
	.main-width {
		padding: 0;
	}
	h3:first-child {
		margin-top: -10px;
	}
	h3 {
		font-family: 'gotham_htfblack';
		font-weight: normal;
		letter-spacing: 0.14em;
		line-height: 36px;
		margin-bottom: 18px;
		color: @green-light;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
.text-column{
	width: 50%;
	float: right;
	padding: 82px 69px 74px;
	line-height: 29px;
}
.img-column {
	position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	overflow: hidden;
	bottom: 0;
	img {
		max-width: 500%;
		min-width: 100%;
		min-height: 100%;
	}
}

.columns{
	position: relative;
	overflow: hidden;
	&:nth-child(2n) {
		.text-column {
			float: left;
		}
		.img-column {
			left: auto;
			right: 0;
		}
	}
}


.section-accordion{
	background: #fff;
	padding-top: 76px;
	.title {
		margin-bottom: 71px;
	}
}
.accordion-conteiner {
	margin: auto;
	max-width: 980px;
}
.accordion{
	margin-bottom: 13px;
	&.open{
		.content-accordion{
			display: block;
		}
		.head-accordion{
			background-color: @yellow;
		}
		.symbol{
			&:before{
				display: none;
			}
		}
	}
}
.head-accordion{
	font-size: 20px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	background-color: @green;
	color: @white;
	padding: 8px 50px 3px 27px;
	position: relative;
	&:hover, &:focus {
		color: @white;
	}
}
.content-accordion{
	padding: 32px 27px 23px;
	border: 1px solid #cccccc;
	display: none;
}
.symbol{
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 22px;
	width: 13px;
	height: 13px;
	&:after{
		content: "";
		position: absolute;
		height: 2px;
		width: 13px;
		background-color: @white;
		top: 50%;
		margin-top: -1px;
	}
	&:before{
		content: "";
		position: absolute;
		height: 13px;
		width: 2px;
		background-color: @white;
		left: 50%;
		margin-left: -1px;
	}
}

.title {
	text-align: center;
	margin-bottom: 49px;
	h5 {
		font-weight: 700;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 31px;
		+ h2 {
			margin-top: 3px;
		}
	}
	h2 {
		margin-top: 5px;
	}
}

.border-img {
	border: 9px solid #fff;
	img {
		width: 100%;
	}
}

.section-die-deets {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% -435px;
	padding-bottom: 0;
	p {
		line-height: 36px;
		margin-bottom: 26px;
	}
	.title {
		margin-bottom: 18px;
	}
}

.section-the-kultur-of {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% -674px;
	padding-top: 94px;
	padding-bottom: 0;
	.title {
		margin-bottom: 87px;
	}
}
.accordion-text-style {
	max-width: 980px;
	margin: auto;
	padding: 1px 27px;
	margin-bottom: 11px;
	h5 {
		font-family: 'Fira Sans';
		font-weight: 700;
		margin-bottom: 4px;
		color: @green-light;
	}
}

.main-title {
	margin-top: -37px;
	margin-bottom: 37px;
	font-size: 0;
	h2 {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	&:after {
		display: inline-block;
		vertical-align: middle;
		height: 159px;
		content: " ";
	}
}

.wrap-columns2 {
	background: transparent;
	color: #fff;
	.columns:first-child .text-column {
		padding-top: 0;
		h3:first-child {
			margin-top: -7px;
		}
	}
	h3 {
		color: #fff;
	}
	p {
		margin-bottom: 35px;
	}
	.text-column {
		line-height: 36px;
	}

	.text-small {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0;
		p {
			margin-bottom: 27px;
		}
	}

}

.section-style-bottom {
	padding-bottom: 0;
}
.video-wrap {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 999;
	height: 100%;
	width: 100%;
	font-size: 0;
	padding: 50px;
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	.video-content {
		font-size: 14px;
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
		width: 960px;
		background: #fff;
		padding: 5px;
	}
	.iframe-content {
		padding-top: 56%;
		position: relative;
		iframe {
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}
.video-close {

	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	color: #777;
	background: #fff;
	z-index: 4;
	text-shadow: 0 1px 0 #fff;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;

	&:after {
		content: "×";
    }
    &:hover {
    	color: #000;
    }
}
@media (max-width: 767px) {
	.video-wrap {
		padding: 15px;
	}
}


.section-dress-up {
	.title {
		margin-bottom: 43px;
	}
}
.content-text-img {
	margin: auto;
	max-width: 520px;
	text-align: center;
	position: relative;
	padding-bottom: 50px;
	min-height: 490px;
}
.img-left-position {
	left: -231px;
	position: absolute;
	top: -100px;
	> img {
		position: relative;
		z-index: 2;
	}
}
.img-right-position {
	position: absolute;
	right: -215px;
	top: -86px;
	> img {
		position: relative;
		z-index: 2;
	}
}
.img-left-position-footer {
	position: absolute;
	bottom: -19px;
	left: 52px;
	z-index: 1;
}
.img-right-position-footer {
	position: absolute;
	bottom: -37px;
	left: -24px;
	z-index: 1;
}
.section-content {
	font-size: 19px;
	line-height: 28px;
	color: #000000;
	text-align: justify;
	.main-width {
		max-width: 1120px;
	}
	p {
		margin-bottom: 28px;
	}
	h2 {
		font-size: 50px;
		line-height: normal;
		margin-top: 34px;
		margin-bottom: 7px;
		text-align: left;
	}
	h5 {
		font-family: inherit;
		letter-spacing: 0;
		color: #000;
		margin: 35px 0 14px;
		font-weight: 500;
		font-size: 19px;
		line-height: 28px;
	}
	ol {
		padding-left: 0;
		counter-reset:  item;
		margin-bottom: 15px;
		li {
			list-style: none;
			margin-bottom: 14px;
			&:before {
				content: counter(item) '. ';
    			counter-increment: item;
    			float: left;
    			margin: 0 6px 0 0;
    		}
    		p:first-child {
    			margin-top: 0;
    		}
			p {
				margin-bottom: 15px;
			}
		}	
	}
	.ol-style {
		counter-reset:  item;
		li:before {
			content: counter(item) ') ';
			counter-increment: item;
			margin: 0 4px 0 0;
		}
	}
	ul {
		padding-left: 0;
		margin-bottom: 15px;
		li {
			list-style: none;
			margin-bottom: 14px;
			position: relative;
			&:before {
				content: "";
				display: block;
				height: 3px;
				width: 3px;
				background: #000;
				border-radius: 100%;
				float: left;
				margin: 12px 6px 4px 2px;
			}
			p {
				margin-bottom: 15px;
			}
    		p:first-child {
    			margin-top: 0;
    		}
		}
	}
}

.section-tickets {
	padding-top: 75px;
	padding-bottom: 48px;
	.title {
		margin-bottom: 34px;
	}
	.btn {
		min-width: 300px;
	}
}
.tickets-text {
	max-width: 530px;
	margin: auto;
	font-size: 21px;
	line-height: 31px;
	margin-bottom: 38px;
	b {
		font-weight: 700;
	}
}
.tickets-table {
	width: 735px;
	background: @green-light;
	margin: auto;
	text-align: left;
	margin-bottom: 48px;
	h4 {
		font-size: 24px;
		line-height: 30px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 3px;
		margin-top: 0;
	}
	p:first-child {
		margin-top: 0;
	}
	td {
		padding: 20px;
	}
	td:nth-child(1) {
		border-bottom: 1px solid #254215;
	}
	td:nth-child(2) {
		background: #ffffff;
		color: @green;
		font-size: 32px;
		font-weight: 700;
		font-family: "Alegreya",serif;
		border-bottom: 1px solid #d9d9d9;
		padding-left: 38px;
		padding-right: 38px;
	}
	tr:last-child {
		td {
			border: none;
		}
	}
}

.octroberfest-top {
	position: relative;
}
.octroberfest-canberra-img {
	position: absolute;
	top: 123px;
	left: 50%;
	margin-left: -334px;
	width: 668px;
}
.cheers-img {
	left: 50%;
    margin-left: -486px;
    position: absolute;
    top: 998px;
	width: 1034px;
}
.octroberfest-text {
	position: absolute;
	top: 464px;
	left: 50%;
	width: 650px;
	margin-left: -325px;
	font-size: 24px;
	line-height: 29px;
	font-family: 'lulo_cleanone_bold';
	p {
		margin-bottom: 44px;
	}
}
.bg-large-img {
	margin-top: 720px;
	overflow: hidden;
	img {
		margin-bottom: -265px;
	}
	> div {
		margin-left: -1000px;
		margin-right: -1000px;
	}
}
.down {
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	height: 59px;
	width: 59px;
}
.form-arrow-big {
	width: 402px;
	top: 1350px;
	margin-left: -201px;
	box-shadow: 9px 9px 27px 25px rgba(115, 93, 72, 0.5);
	.form-control {
		height: 60px;
		padding: 15px 75px 15px 24px;
	}
	button {
		width: 67px;
	}
}
.featuring-index {
	position: relative;
	padding-top: 21px;
	padding-bottom: 57px;
	h5 {

		font-size: 16px;
		font-family: 'lulo_cleanone_bold';
		font-weight: normal;
		text-shadow: -1px 1px @green-light;
		color: #fff;
		width: 240px;
		height: 240px;
		border-radius: 100%;
		position: absolute;
		padding-top: 52px;
		top: -135px;
		background: #40d5fd;
		left: 50%;
		margin: 0 0 0 -120px;
	}
	.main-width {
		padding-left: 55px;
		padding-right: 55px;
	}
	&:after {
		content: " ";
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url(../images/featuring-index.png);
		background-repeat: no-repeat;
		background-position: 50% 0;
		z-index: 1;
		position: absolute;
	}
}

.featuring-item {
	list-style: none;
	position: relative;
	z-index: 2;
	margin: 0 -34px 90px;
	padding: 0;


	a {
		display: inline-block;
		vertical-align: top;
		margin: 0 34px;
		position: relative;
		font-family: 'lulo_cleanone_bold';
		color: @green-light2;
		line-height: 32px;
		font-size: 22px;
		letter-spacing: -0.1em;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
		&:after {
			content: " ";
			height: 12px;
			width: 12px;
			display: block;
			position: absolute;
			top: 9px;
			right: -43px;
			z-index: 2;
			background-image: url(../images/star.png);
			background-repeat: no-repeat;
			z-index: auto;
		}
	}

	> div {
		 a {
		 	&:last-child:after {
		 		display: none;
		 	}
		 }
	}

	
}

.section-dress-up-index {
	background: #fff;
}
.wrap-video {
	position: relative;
	z-index: auto;
}
.text-video {
	position: absolute;
	z-index: 2;
	text-align: left;
	color: #fff;
	text-shadow: 0 0 35px rgba(0, 0, 0, 0.9);
	padding-left: 113px;
	left: 170px;
	top: 50%;
	margin-top: -29px;
	cursor: pointer;
	&:before {
		content: " ";
		display: block;
		height: 80px;
		width: 80px;
		background: #30c2fc;
		border-radius: 100%;
		position: absolute;
		top: -11px;
		left: 0;
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
		z-index: 1;
	}
	&:after {
		content: " ";
		display: block;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-left: 14px solid #fff;
		position: absolute;
		top: 17px;
		left: 36px;
		z-index: 2;
	}
	&:hover, &:focus {
		color: #fff;
		&:before {
			background: #30c2fc - 20%;
		}
	}
}
.text-video-title {
	font-family: 'lulo_cleanone_bold';
	font-weight: normal;
	font-size: 24px;	
	margin-bottom: -7px;
}
.text-video-p {
	font-family: 'lulo_cleanone';
	font-weight: normal;
	font-size: 18px;	
}

.section-dress-up-index {
	padding-top: 157px;
	.title {
		h2 {
			font-family: 'lulo_cleanone_bold';
			font-weight: normal;
		}
	}
}
.big-text {
	font-size: 32px;
	color: #40d5fd;
	font-weight: 700;
	line-height: normal;
}
.section-dress-up-index {
	a:not(.btn) {
		color: #40d5fd;
	}
	.title {
		margin-bottom: 66px;
	}
	.content-text-img {
		max-width: 580px;
	}
	p {
		margin-bottom: 21px;
	}
	.big-text {
		margin-bottom: 74px;
	}
	.img-left-position {
		left: -246px;
		position: absolute;
		top: -203px;
	}
	.img-right-position {
	    position: absolute;
	    right: -225px;
	    top: -177px;
	}
}

.section-music-index {
	position: relative;
	background-image: url(../images/section-music-index.png);
	background-repeat: no-repeat;
	background-position: 50% 24px;
	padding-top: 98px;
	min-height: 903px;
	.title {
		margin-bottom: 162px;
		h2 {
			color: #fff;
			font-family: 'lulo_cleanone_bold';
			font-weight: normal;
			margin-bottom: 0;
			text-shadow: -8px 8px @green-light, -7px 7px @green-light, -6px 6px @green-light, -5px 5px @green-light, -4px 4px @green-light, -3px 3px @green-light, -2px 2px @green-light, -1px 1px @green-light;
		}
		h4 {
			font-size: 48px;
			color: #fff;
			font-family: 'lulo_cleanone_bold';
			font-weight: normal;
			text-shadow: -5px 5px @green-light, -4px 4px @green-light, -3px 3px @green-light, -2px 2px @green-light, -1px 1px @green-light;
		}
	}
	.main-width {
		padding: 0 55px;
	}
}
.text-sm {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 87px;
}
.wrap-columns-index {
	b {
		font-weight: 700;
	}
	a:not(.btn) {
		color: #30c2fc;
	}
	h3 {
		margin-bottom: 39px;
	}
	.text-column {
		padding-left: 55px;
		padding-right: 55px;
		line-height: 30px;
		padding-bottom: 67px;
	}
	.btn {
		margin-top: 28px;
	}
	.columns:nth-child(2n + 1) {
		.text-column {
			padding-left: 84px;
		}
	}
}
.blue {
	color: #30c2fc;
}
.link-arrow {
	color: #30c2fc;
	font-weight: 700;	
	background-image: url(../images/link-arrow.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 24px;
}
.section-oktoberfestinthepark {
	padding-top: 64px;
	.main-width {
		padding-left: 52px;
		padding-right: 52px;
	}
	.title {
		margin-bottom: 61px;
		h4 {
			font-size: 24px;
			font-family: 'lulo_cleanone';
			font-weight: normal;
			margin-bottom: 5px;
		}
		h5 {
			font-size: 32px;
			font-family: 'lulo_cleanone_bold';
			font-weight: normal;
			text-shadow: -3px 3px #fff, -2px 2px #fff, -1px 1px #fff;
		}
	}
}

.map-wrap {
	position: relative;
}

#map {
	height: 286px;
	> div {
		background: #252525 !important;
	}
	.gm-style-mtc {
		display: none;
	}
	.gmnoprint {
		display: none;
	}
	.gm-style-cc {
		display: none;
	}
	img[src$="oogle_white5.png"] {
		display: none;
	}
}

.map-content {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	margin-left: 214px;
	width: 426px;
	padding: 95px 70px 0;
	.form-control {
		height: 46px;
		padding-left: 33px;
		border-radius: 25px;
	}
	.form-group {
		margin-bottom: 12px;
	}
	.btn {
		width: 100%;
	}
}
.section-contact {
	text-align: center;
	color: #fff;
	line-height: 37px;
	padding-top: 68px;
	padding-bottom: 62px;
	.title {
		margin-bottom: 27px;
	}
}
@media (min-width: 1280px) {
	.main-footer, .wrapper, .section-die-deets, .section-the-kultur-of, .fixed-header {
		background-size: 100% auto;
	}
}

.btn-ticket {
	background-image: url(../images/btn-bg.png);
	position: absolute;
	top: 83px;
	margin-top: 58px;
	right: 0;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	height: 53px;
	width: 249px;
	padding: 14px 0 14px 38px;
	z-index: 1000;
	.transition(0.4s);
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: top;
		height: 8px;
		background-image: url(../images/arrow-white.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 13px;
		margin-left: 7px;
		margin-top: 7px;
	}
	&:hover, &:focus {
		color: #fff;
	}
}

.btn-ticket.btn-ticket-fixed {
	position: fixed;
	margin-top: -140px;
}
.btn-ticket.btn-ticket-open {
	margin-top: 0;
}


@media (max-width: 1200px) {
	.section-dress-up-index .img-left-position {
		left: -190px;
	}
	.section-dress-up-index .img-right-position {
		right: -208px;
	}
	.cheers-img {
		width: 100%;
		left: 0;
		margin-left: 0;
	}

}
@media (max-width: 1280px) {
	.map-content {
		right: 0;
		left: auto;
		margin: 0;
	}
	.map-wrap {
		overflow: hidden;
	}
	#map {
		min-width: 1024px;
	}

}

@media (max-width: 1200px) {
	.img-column {
		position: static;
		float: left;
		width: 300px;
		margin: 0 30px 15px 0;
		img {
			max-width: 100%;
		}
	}
	.columns .text-column {
		float: none;
		width: auto;
	}
	.columns:nth-child(2n) .text-column {
		float: none;
	}
	.text-column, .wrap-columns-index .text-column, .wrap-columns-index .columns:nth-child(2n+1) .text-column {
		padding: 0 30px;
	}
	.wrap-columns h3:first-child, .wrap-columns p:first-child {
		margin-top: 0;
	}
	.columns {
		padding: 30px 0;
	}
	.columns:not(:first-child) {
		border-top: 2px solid rgba(255, 255, 255, 0.5);
	}
	.wrap-columns .text-column > *:last-child {
		margin-bottom: 0;
	}
	.featuring-item a {
		font-size: 16px;
		margin: 0 15px;
	}
	.featuring-item a::after {
		right: -24px;
	}
}
@media (max-width: 1010px) {
	.main-width, .featuring-index .main-width, .section-music-index .main-width, .section-oktoberfestinthepark .main-width {
		padding-left: 30px;
		padding-right: 30px;
	}
	.btn-ticket {
		margin-top: 0;
	}
	.img-left-position {
		display: none;
	}
	.img-right-position {
		display: none;
	}
	.content-text-img {
		min-height: 100px;
		padding-bottom: 30px;
	}
	.featuring-item > div {
		display: inline;
	}
	.featuring-item a::after {
		display: none;
	}
	.text-video {
		left: 30px;
	}
	.featuring-item {
		margin-left: -30px;
		margin-right: -30px;
	}
}

@media (max-width: 767px) {
	.btn-ticket-fixed {
		display: none;
	}
	.fixed-header {
		display: none;
	}
	.btn-ticket {
		position: fixed;
		bottom: 10px;
		right: 0;
		top: auto;
	}
	.main-header .main-nav {
		padding-top: 75px;
	}
	.main-header .socials {
		left: 50%;
		right: auto;
		margin-left: -28px;
		top: 18px;
	}
	.main-header .socials li {
		display: block;
		float: left;
	}
	.main-header .socials li:first-child {
		margin-left: 0;
	}
	.main-nav-btn {
		position: absolute;
		padding: 24px;
		width: 70px;
		top: 0;
		right: 0;
		z-index: 2;
		cursor: pointer;
		> div {
			height: 2px;
			margin: 4px 0;
			background: #fff;
		}
	}
	.main-header .logo {
		top: 10px;
	}
	.main-header {
		height: 70px;
		padding: 20px 0;
		position: relative;
		z-index: 1001;
	}
	.main-header .main-nav {
		padding: 30px 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: none;
		background: #40d5fd;
		box-shadow: 0 5px 5px #13526b;
	}
	.main-nav ul li {
		float: none;
		margin: 0;
		display: block;
		text-align: center;
	}
	.main-nav ul li a {
		padding: 15px;
	}
	.open-menu {
		.main-header .main-nav {
			display: block;
		}
		.main-nav-btn {
			> div {
				position: relative;
				&:nth-child(1) {
					top: 5px;
					.rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					top: -7px;
					.rotate(-45deg);
				}
			}
		}
	}

	h2 {
	  font-size: 62px;
	  line-height: 62px;
	}
	.img-column {
		width: 200px;
	}
	.border-img {
		margin-top: 30px;
	}
	.section-content h2 {
		font-size: 42px;
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 42px;
	}

	.text-video {
		left: 10px;
		padding-left: 40px;
	}
	.text-video-title {
		font-size: 16px;
	}
	.text-video-p {
		font-size: 14px;
	}
	.text-video::before {
		height: 30px;
		width: 30px;
		top: 0;
	}
	.text-video::after {
		border-bottom: 4px solid transparent;
		border-left: 8px solid #fff;
		border-top: 4px solid transparent;
		top: 11px;
		left: 13px;
	}
	.section-music-index {
		background-image: none;
		padding-top: 67px;
	}
	.section-music-index {
		min-height: 100px;
	}
	.section-music-index .title {
		margin-bottom: 49px;
	}
	.text-sm {
		margin-bottom: 30px;
	}
	.section-music-index .title h4 {
		font-size: 34px;
	}
	.map-content {
		position: static;
		width: 100%;
		padding: 50px 30px;
	}
	.section-oktoberfestinthepark .title h5 {
		font-size: 14px;
		text-shadow:  -2px 2px #ffffff, -1px 1px #ffffff;
	}
	.cheers-img {
		overflow: hidden;
		img {
			width: 450px;
			max-width: 450px;
		}
	}
	.form-arrow-big {
		width: auto;
		margin-left: 0;
		left: 15px;
		right: 15px;
		top: auto;
		bottom: 150px;
	}
	.octroberfest-canberra-img {
		left: 0;
		margin: 0 0 30px 0;
		position: static;
		width: 100%;
	}
	.octroberfest-text {
		position: static;
		margin: 0;
		width: 100%;
		font-size: 16px;
	}
	.bg-large-img {
		margin-top: 30px;
	}
	.bg-large-img > div {
		margin: 0;
	}
	.bg-large-img img {
		margin: 0;
	}
	.cheers-img {
		top: auto;
		bottom: 220px;
	}
}
@media (max-width: 599px) {
	html {
		 font-size: 16px;
	}
	.big-text {
		font-size: 20px;
	}
	h2, .section-content h2 {
		font-size: 32px;
		line-height: 32px;
	}

	h3 {
		font-size: 20px;
		line-height: 20px;
	}
	.main-title::after {
		height: auto;
	}
	.title, .section-the-kultur-of .title, .section-accordion .title, .section-dress-up-index .title {
		margin: 0 0 30px 0;
	}
	.section-style {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.img-column {
		width: 100%;
		margin: 0 0 30px;
	}
	.wrap-columns2 {
		.columns:first-child {
			padding-top: 0;
		}
	}
	.submenu ul li a {
		font-size: 14px;
		padding: 22px 15px;
	}
	.gallery {
		margin-top: 30px;
	}
	.section-dress-up-index {
		padding-bottom: 0;
	}
	.section-music-index .title h4 {
		font-size: 18px;
	}
	.wrap-columns {
		padding-bottom: 20px;
	}
	.section-die-deets {
		padding-bottom: 0;
	}
	.section-the-kultur-of {
		padding-bottom: 0;
	}
	.wrap-columns-index h3 {
		margin-bottom: 20px;
	}
	.featuring-index {
		padding-top: 0;
	}
	.featuring-index .featuring-item {
		margin-bottom: 50px;
	}
}
@media (max-width: 359px) {
	.main-width, .featuring-index .main-width, .section-music-index .main-width, .section-oktoberfestinthepark .main-width {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-header .logo {
		left: 15px;
	}
	.main-nav-btn {
		padding: 24px 15px;
		width: 50px;
	}
	.text-column, .wrap-columns-index .text-column, .wrap-columns-index .columns:nth-child(2n+1) .text-column {
		padding: 0 15px;
	}
	.submenu ul li a {
		padding: 15px 10px;
	}
	.section-oktoberfestinthepark .slider {
		padding-left: 15px;
		padding-right: 15px;
		.slick-prev {
			left: -5px;
		}
		.slick-next {
			right: -5px;
		}
	}
	.cheers-img img {
		margin-left: -30px;
	}
	.featuring-item {
		margin-left: 0;
		margin-right: 0;
	}
	.featuring-item a {
		font-size: 12px;
	}

}