@yellow: #ffbf00;
@white: #ffffff;
@gray-light: #f5f5f5;
@green: #2c4d19;
@green-dark: #15270a;
@green-light: #33591c;


html, body {
	height: 100%;
}
p:first-child {
	margin-top: -7px;
}
p, ul, ol {
	margin: 0 0 30px;
	&:last-child {
		margin-bottom: 0;
	}
}
.main-width {
	max-width: 1280px;
	margin: auto;
	padding: 0 60px;
}
.wrapper {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
	clear: both;
}
img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}
.text-white {
	color: #fff;
}
.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}
.row10 {
	margin-left: -10px;
	margin-right: -10px;
	> * {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row25 {
	margin-left: -25px;
	margin-right: -25px;
	> * {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.section-style {
	padding-top: 54px;
	padding-bottom: 69px;
}

.submenu{
	background-color: @green-dark;
	text-align: center;
	ul{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		li{
			float: left;
			&.current{
				a{
					color: @yellow;
				}
			}
			a{
				color: @white;
				display: block;
				padding: 34px 37px;
				line-height: 21px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}
}
.gallery{
	padding: 28px 24px 36px;
	background-color: @green-dark;
	position: relative;
	margin-top: 75px;
	ul{
		padding: 0;
		margin-left: -3px;
		margin-right: -3px;
		margin-bottom: 0;
		list-style: none;
		li{
			padding: 0 3px;
			float: left;
			width: 25%;
			img{
				width: 100%;
			}
		}
	}
	.main-width {
		padding: 0;
	}
}
.wrap-columns {
	background-color: @gray-light;
	.main-width {
		padding: 0;
	}
	h3:first-child {
		margin-top: -10px;
	}
	h3 {
		font-family: 'gotham_htfblack';
		font-weight: normal;
		letter-spacing: 0.14em;
		line-height: 36px;
		margin-bottom: 18px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
.text-column{
	width: 50%;
	float: right;
	padding: 82px 69px 74px;
	line-height: 29px;
}
.img-column {
	position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	overflow: hidden;
	bottom: 0;
	img {
		max-width: 500%;
		min-width: 100%;
		min-height: 100%;
	}
}

.columns{
	position: relative;
	overflow: hidden;
	&:nth-child(2n) {
		.text-column {
			float: left;
		}
		.img-column {
			left: auto;
			right: 0;
		}
	}
}


.section-accordion{
	background: #fff;
	padding-top: 76px;
	.title {
		margin-bottom: 71px;
	}
}
.accordion-conteiner {
	margin: auto;
	max-width: 980px;
}
.accordion{
	margin-bottom: 13px;
	&.open{
		.content-accordion{
			display: block;
		}
		.head-accordion{
			background-color: @yellow;
		}
		.symbol{
			&:before{
				display: none;
			}
		}
	}
}
.head-accordion{
	font-size: 20px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	background-color: @green;
	color: @white;
	padding: 8px 27px 3px;
	position: relative;
	&:hover, &:focus {
		color: @white;
	}
}
.content-accordion{
	padding: 32px 27px 23px;
	border: 1px solid #cccccc;
	display: none;
}
.symbol{
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 22px;
	width: 13px;
	height: 13px;
	&:after{
		content: "";
		position: absolute;
		height: 2px;
		width: 13px;
		background-color: @white;
		top: 50%;
		margin-top: -1px;
	}
	&:before{
		content: "";
		position: absolute;
		height: 13px;
		width: 2px;
		background-color: @white;
		left: 50%;
		margin-left: -1px;
	}
}

.title {
	text-align: center;
	margin-bottom: 49px;
	h5 {
		font-weight: 700;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 31px;
		+ h2 {
			margin-top: 3px;
		}
	}
	h2 {
		margin-top: 5px;
	}
}

.border-img {
	border: 9px solid #fff;
	img {
		width: 100%;
	}
}

.section-die-deets {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% -435px;
	padding-bottom: 0;
	p {
		line-height: 36px;
		margin-bottom: 26px;
	}
	.title {
		margin-bottom: 18px;
	}
}

.section-the-kultur-of {
	background-color: #40d5fd;
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% -674px;
	padding-top: 94px;
	padding-bottom: 0;
	.title {
		margin-bottom: 87px;
	}
}
.accordion-text-style {
	max-width: 980px;
	margin: auto;
	padding: 1px 27px;
	margin-bottom: 11px;
	h5 {
		font-family: 'Fira Sans';
		font-weight: 700;
		margin-bottom: 4px;
	}
}

.main-title {
	margin-top: -37px;
	margin-bottom: 37px;
	font-size: 0;
	h2 {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	&:after {
		display: inline-block;
		vertical-align: middle;
		height: 159px;
		content: " ";
	}
}

.wrap-columns2 {
	background: transparent;
	color: #fff;
	.columns:first-child .text-column {
		padding-top: 0;
		h3:first-child {
			margin-top: -7px;
		}
	}
	h3 {
		color: #fff;
	}
	p {
		margin-bottom: 35px;
	}
	.text-column {
		line-height: 36px;
	}

	.text-small {
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0;
		p {
			margin-bottom: 27px;
		}
	}

}

.section-style-bottom {
	padding-bottom: 0;
}
.video-wrap {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 999;
	height: 100%;
	width: 100%;
	font-size: 0;
	padding: 50px;
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	.video-content {
		font-size: 14px;
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
		width: 960px;
		background: #fff;
		padding: 5px;
	}
	.iframe-content {
		padding-top: 56%;
		position: relative;
		iframe {
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}
.video-close {

	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	color: #777;
	background: #fff;
	z-index: 4;
	text-shadow: 0 1px 0 #fff;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;

	&:after {
		content: "×";
    }
    &:hover {
    	color: #000;
    }
}
@media (max-width: 767px) {
	.video-wrap {
		padding: 15px;
	}
}

